In [1]:
import numpy as np
import pandas as pd

In [2]:
books = pd.read_csv('Books.csv', sep = ',',error_bad_lines = False)
ratings = pd.read_csv('Ratings.csv', sep = ',', error_bad_lines = False)
users = pd.read_csv('Users.csv', sep=',', error_bad_lines = False)

/tmp/ipykernel_120319/1363745538.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  books = pd.read_csv('Books.csv', sep = ',',error_bad_lines = False)
/tmp/ipykernel_120319/1363745538.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('Books.csv', sep = ',',error_bad_lines = False)
/tmp/ipykernel_120319/1363745538.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  ratings = pd.read_csv('Ratings.csv', sep = ',', error_bad_lines = False)
/tmp/ipykernel_120319/1363745538.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  users = pd.read_csv('Users.csv', sep=',', error_bad_lines = False)

In [3]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [26]:
books.rename(columns = {'Book-Title':'title', 'Book-Author':'author', 'Year-Of-Publication':'year', 'Publisher':'publisher'}, inplace =True)
books = books[['ISBN', 'title', 'author', 'year', 'publisher']]

In [ ]:
ratings.columns

In [ ]:
ratings.rename(columns={'User-ID':'user_id', 'Book-Rating':'rating'}, inplace = True)
ratings

In [ ]:
users.columns

In [ ]:
users.rename(columns={'User-ID':'user_id', 'Location':'location', 'Age':'age'}, inplace=True)

In [ ]:

users

<h3>Taking only relevant user and relevant ratings. i.e - those user who rated more than 100 books and those books who got more than 50 ratings.</h3>

In [ ]:
ratings

In [19]:
#It counts the no of distinct user_id and for those user_id
#whose count>100 it returns True, else False

u_100 = ratings['user_id'].value_counts()>=100

#u_100 is list containing boolean values corresponding to user_id

In [20]:
#Having u_100, we want to know how many users have rated abve 100
y = u_100[u_100]

In [21]:
#Now we want to get all user ids who have rated more than 100 books
y = y.index
y

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
             65663, 160735, 160416, 160415, 160410, 160409, 160408, 160407,
            160406,  28537],
           dtype='int64', length=1847)

In [22]:
ratings = ratings[ratings['user_id'].isin(y)]
#innner command wil return index of all user_id who have rated more than 100 books

In [23]:
ratings['rating'].max()

10

In [24]:
ratings

         user_id        ISBN  rating
412       276925  0006511929       0
413       276925  002542730X      10
414       276925  0060520507       0
415       276925  0060930934       0
416       276925  0060951303       0
...          ...         ...     ...
1149633   276680  1884910033       0
1149634   276680  1888173408       7
1149635   276680  1888173564       8
1149636   276680  1888173572       0
1149637   276680  1931561648       9

[658805 rows x 3 columns]

In [27]:
ratings_books = ratings.merge(books, on='ISBN')
ratings_books

,user_id,ISBN,rating,title,author,year,publisher
0,276925,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
1,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
2,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
3,10030,002542730X,7,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
4,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
...,...,...,...,...,...,...,...
606339,276680,089587167X,7,Something Blue,Jean Christopher Spaugh,1997,John F. Blair Publisher
606340,276680,1402201435,4,The One True Ocean,Sarah Beth Martin,2003,Sourcebooks Landmark
606341,276680,1564407284,0,"The Old Sturbridge Village Cookbook, 2nd : Aut...",Caroline Sloat,1995,Globe Pequot
606342,276680,1582343594,0,City of Masks : A Cree Black Novel,Daniel Hecht,2004,Bloomsbury USA
606343,276680,1888173408,7,Fairy Tale (Common Reader Editions),Alice Thomas Ellis,2001,Akadine Press

In [33]:
#Now we want to consider only those books which has been rated by more than 50 users.
title_50 = ratings_books.groupby('title')['rating'].count()>50

In [38]:
#It contains the name of all books which has more than 50 ratings
title_50T = title_50[title_50].index

In [39]:
ratings_books = ratings_books[ratings_books['title'].isin(title_50T)]

In [46]:
#Below table contains all user who have rated more tha 100 books, and these books also has more than 50 ratings
ratings_books.drop_duplicates(['user_id','ISBN'], inplace  =True)
ratings_books.shape

/tmp/ipykernel_120319/2677567777.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratings_books.drop_duplicates(['user_id','ISBN'], inplace  =True)

(98961, 7)

In [45]:
ratings_books

,user_id,ISBN,rating,title,author,year,publisher
0,276925,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
1,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
2,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
3,10030,002542730X,7,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
4,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
...,...,...,...,...,...,...,...
605322,274004,037572799X,0,In Pursuit of the Proper Sinner,Elizabeth George,2000,Random House Large Print Publishing
605666,274301,0606060510,0,Terminal,Robin Cook,1996,Demco Media
605873,274549,0380009951,0,Night,Elie Wiesel,1973,Harper Mass Market Paperbacks (Mm)
605907,274808,0449701913,0,Homecoming,Cynthia Voigt,1983,Fawcett Books
606213,275970,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major

In [48]:
ratings_books['ISBN'].value_counts()

0971880107    617
0316666343    430
0385504209    325
0060928336    306
044021145X    276
             ...
0312110707      1
051511992x      1
0553237799      1
B0000VZEH8      1
1586210661      1
Name: ISBN, Length: 3199, dtype: int64

In [49]:
book_pivot = ratings_books.pivot_table(columns = 'user_id', index='ISBN', values='rating')

In [50]:
book_pivot

user_id,183,254,507,882,1424,1435,1733,1903,2033,2110,...,276018,276463,276680,276925,277427,277478,277639,278137,278188,278418
ISBN,,,,,,,,,,,,,,,,,,,,,
0001047973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0006177379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0020697406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
002542730X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10.0,10.0,NaN,NaN,NaN,NaN,NaN
002542730x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
B0000T6KIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
B0000VZEH8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
B0001FZGPI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
B0001PIOX4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
B000234N76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
book_pivot.fillna(0)

user_id,183,254,507,882,1424,1435,1733,1903,2033,2110,...,276018,276463,276680,276925,277427,277478,277639,278137,278188,278418
ISBN,,,,,,,,,,,,,,,,,,,,,
0001047973,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0006177379,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0020697406,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
002542730X,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,10.0,10.0,0.0,0.0,0.0,0.0,0.0
002542730x,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
B0000T6KIM,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
B0000VZEH8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
B0001FZGPI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
B0001PIOX4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
B000234N76,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
from scipy.sparse import csr_matrix